
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Light";
  src: local("FrutigerLTArabic45Light"), url("./fonts/FrutigerLTArabic45Light.ttf") format("truetype")
}

@font-face {
  font-family: "Roman";
  src: local("FrutigerLTArabic55Roman"), url("./fonts/FrutigerLTArabic55Roman.ttf") format("truetype")
}

@font-face {
  font-family: "Bold";
  src: local("FrutigerLTArabic65Bold"), url("./fonts/FrutigerLTArabic65Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Black";
  src: local("frutigerltarabic75black"), url("./fonts/frutigerltarabic75black.ttf") format("truetype")
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
